table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

header {
    padding: 5%;
    text-align: center;
    background-color: aqua;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

main {
    padding: 5%;

}

th {
    background-color: #632424;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ac3131;
    color: rgb(222, 201, 201);
}

.controls{
    color: aqua;
    padding: 3%;
    text-align: center;
}

.buttons:hover{
    color: aquamarine;
}